<div *ngIf="auth0Profile$ | async as userAuth0Data" >

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{userAuth0Data.given_name | titlecase}}'s Profile</mat-card-title>
    </mat-card-header>
    <img matCardImage [src]="userAuth0Data.picture"  referrerpolicy="no-referrer">
    <mat-card-content>
      <p>Name: {{userAuth0Data.name | titlecase}}</p>
      <p>Email: {{userAuth0Data.email}}</p>
      <p>Verified Email: {{userAuth0Data.email_verified}}</p>

    </mat-card-content>
  </mat-card>
  <img>
</div>
