mat-card {

  max-width: 600px;
}
.employee-profile-container{
  margin: 13px;
}

.employee-address-profile{
    max-width: 300px;
}
.mat-card > :last-child:not(.mat-card-footer), .mat-card-content > :last-child:not(.mat-card-footer) {
  margin-bottom: 0;
  margin-left: 27px;
}

@media screen and (max-width: 600px){
  .mat-card > :last-child:not(.mat-card-footer), .mat-card-content > :last-child:not(.mat-card-footer) {
    margin-bottom: 0;
    margin-left: 0;
  }}

