<!--<pre>{{ user$ | async  | json }}</pre>-->

<div fxLayout="column" fxLayoutAlign="start center" class="employee-profile-container" *ngIf="userAddress$ | async as AddressData">
  <mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.xs="column"  fxLayoutAlign.xs="start center " class="employee-auth0-profile">
    <mat-card-content>
  <app-user-auth0-profile [auth0Profile$]="user$" [address$]="AddressData"></app-user-auth0-profile>
    </mat-card-content>

    <mat-card-content>
  <div class="employee-address-profile"  >
    <app-user-address [AddressDataValues]=AddressData></app-user-address>
 </div>
    </mat-card-content>

  </div>
  </mat-card>

</div>
